@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
@-webkit-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fade-in {
    -moz-animation   : fadein 0.5s linear;
    -webkit-animation: fadein 0.5s linear;
    animation        : fadein 0.5s linear;
}
/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;
